
Portfolio/archetypes/default.md
Portfolio/hugo.toml
themes/m10c/
Portfolio/.hugo_build.lock
Portfolio/content/about.md
Portfolio/hugo.toml.bak
Portfolio/content/about.md.bak
Portfolio/themes/m10c/
Portfolio/resources/_gen/assets/scss/css/main.scss_28eb56fb7a06694e78aa201b1679c397.content
Portfolio/resources/_gen/assets/scss/css/main.scss_28eb56fb7a06694e78aa201b1679c397.json
